.botao {
  width: 167px;
  height: 70px;
  flex-shrink: 0;
  border-radius: 10px;
  border-style: none;
  background: #6278f7;

  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
}
