.App {
  font-family: "Prata", serif;
  box-sizing: border-box;
}

h1 {
  font-size: 30px;
  color: #6278F7;
  border-bottom: 4px solid #6278F7;
  display: inline-block;
  padding-bottom: 15px;
  margin: 32px 0;
}

h1, h2 {
  font-family: 'Prata', serif;
}

.times {
  text-align: center;
}